body {
text-align: center;
background-color: #EDDBD9;
font-color: black;
}
h1, h2 {
font-family: @import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap), sans-serif;
}
p {
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	font-family: monospace;
}
hr {
	width:200px;
}
a {
	color: black;
}
a:hover {
	color: white;
}