@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
background-color: #EDDBD9;
font-color: black;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em;
font-size: 16px;
}
h1 {
font-family: 'Architects Daughter', serif;
line-height: 60%
margin: 1em auto;
}
h2 {
font-family: 'Architects Daughter', serif;
line-height: 60%
}
h3 {
font-family: 'Architects Daughter', serif;
}
p {
	font-weight: bold;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	width: 30em;
	margin: 1em auto;
	line-height: 1.5em;
	padding: 0.5em;
}
hr {
	width:200px;
	border: none;
	height:2px;
	background-color: black;
	margin: 1em auto;
}
a {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
a:hover {
	background-color: #EDDBD9;
	font-family: 'Architects Daughter', serif;
	font-style: italic;
}
footer {
font-family: 'Architects Daughter', serif;
text-align: center;	
clear: both;
padding: 10px;
}
nav a {
padding: 15px;
font-weight: bold;
font-size: 1em;
font-family: 'Quicksand', sans-serif;
margin: 2em auto;
text-transform: uppercase;
font-weight: bold;
background-color: white;
}
#navbar {
	background-color: white;
	padding: 15px;
}
.column {
	width: 25%;
	height: 300px;
	padding: 10px 20px 20px;
	margin: 20px;
	float: left;
}
#strengths {
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	background-color: white;
}
#skills {
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	background-color: white;
}
#awards {
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	background-color: white; 
}
#hero_image {
    padding: 0px;
    float: left;
    width: 45%;
    margin: 30px 0px 0px 50px;
    /*margins seem to be causing issues when I resize the window*/
}
#intro_text {
    float: left;
    width: 35%;
    font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	margin: 40px 0px;
}
#intro_hr {
	width:200px;
	border: none;
	height:2px;
	background-color: black;
	margin: 10px 0px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "clearfix";
    clear: both;
    height: 0;
}