@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
background-color: #EDDBD9;
font-color: black;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em;
font-size: 16px;
}
h1 {
font-family: 'Architects Daughter', serif;
padding: 2em;
margin: 1em auto;
}
h2 {
font-family: 'Architects Daughter', serif;
}
h3 {
font-family: 'Architects Daughter', serif;
}
p {
	font-weight: bold;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	width: 30em;
	margin: 1em auto;
	line-height: 1.5em;
	padding: 0.5em;
}
hr {
	width:200px;
	border: none;
	height:2px;
	background-color: black;
	margin: 1em auto;
}
a {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
a:hover {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}
footer {
font-family: 'Architects Daughter', serif;
text-align: center;	
}
nav a {
padding: 0 2em;
font-weight: bold;
font-size: 1em;
font-family: 'Quicksand', sans-serif;
margin: 2em 2em; 
text-transform: uppercase;
font-weight: bold;
}
