@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
background-color: #EDDBD9;
font-color: black;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em;
font-size: 16px;
}
h1 {
font-family: 'Architects Daughter', serif;
line-height: 120%
padding: 2em;
margin: 40px 20px 20px 20px;
}
h2 {
font-family: 'Architects Daughter', serif;
line-height: 120%
}
h3 {
font-family: 'Architects Daughter', serif;
}
p {
	font-weight: bold;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	width: 500px;
	margin: auto;
	line-height: 2.5em;
	padding: 1em;
}
hr {
	width:200px;
}
a {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
a:hover {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}
footer {
font-family: 'Architects Daughter', serif;
text-align: center;	
}
nav a {
padding: 2em;
font-weight: bold;
font-size: 1em;
font-family: 'Quicksand', sans-serif;
margin-right: auto; 
margin-left: auto;
}
