@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
body {
background-color: #EDDBD9;
font-color: black;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em;
}
h1 {
font-family: 'Architects Daughter', serif;
line-height: 120%
padding: 2em;
margin: 50px;
}
h2 {
font-family: 'Architects Daughter', serif;
line-height: 120%
}
h3 {
font-family: 'Architects Daughter', serif;
}
p {
	color: black;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
hr {
	width:200px;
}
a {
	color: black;
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
a:hover {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}
img{
	padding: 1em;
}
footer {
font-family: 'Architects Daughter', serif;
text-align: center;	
}
nav a {
padding: 2em;
font-weight: bold;
font-size: 16px;
font-family: 'Quicksand', sans-serif;
margin-right: auto; 
margin-left: auto;
margin-top: 20px;
margin-bottom: 20px;
}
