@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
background-color: #EDDBD9;
font-color: black;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em;
font-size: 16px;
}
h1, h2, h3 {
font-family: 'Architects Daughter', serif;
}
p {
	font-weight: bold;
	width: 30em;
	margin: 1em auto;
	line-height: 1.5em;
	text-align: center;
}
hr {
	width: 15%;
	border: none;
	height:2px;
	background-color: black;
	margin: 1em auto;
}
ul {
	padding: 0px;
}
a {
	color: black;
}
a:hover {
	font-family: 'Architects Daughter', serif;
	font-style: italic;
	color: white;
}
footer {
font-family: 'Architects Daughter', serif;
clear: both;
padding: 1em;
}
nav a {
padding: 1em;
font-weight: bold;
font-family: 'Quicksand', sans-serif;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
background-color: #EDDBD9;
}
nav {
	background-color: #EDDBD9;
	padding: 1em;
	/*width: 70%;*/
	margin: auto;
}
.column {
	width: 20%;
	margin: 1.5%;
	padding: 1%;
	float: left;
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
}
#portrait img {
	width: 100%;
	border: 3px solid black;
}
.wrapper_about {
	width: 100%;
	margin: auto;
}
.wrapper_index {
	width: 100%;
	margin: auto;
}
#hero_image {
    padding: 0px;
    float: left;
    width: 40%;
    margin: 2em;
}
#hero_image img {
	width: 80%;
	max-width: 491px;
}
#intro_text {
    float: left;
    width: 40%;
    font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	margin: 2em 0em;
}
#intro_text > hr {
	margin: 10px 0px;
	width: 50%;
}
#intro_text > a {
	text-decoration: none;
}
#intro_text > a:hover {
	color: white;
}
.clearfix.after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#mobile {
	display: none;
}
@media only screen and (max-width: 880px) {
nav a {
width: auto;
float: none;
display: block;
padding: 0.25em;
display: none;
background-color: #EDDBD9;
}
nav {
width: 40%;
float: none;
background-color: #EDDBD9;
}
#intro_text {
    float: none;
    margin: none;
    padding: 0em 2em;
    width: 90%;
    text-align: center;
}
 #hero_image {
    padding: none;
    float: none;
    margin: none;
    width: 90%;
}
 #hero_image img {
	width: 100%
}
#intro_text > hr {
	margin: 1em auto;
	width: 200px;
}
#wrapper {
	width: auto;
}
.column {
	float: none;
	width: 80%;
	margin: auto;
	text-align: center;
}
#portrait img {
	width: 40%;
	border: 3px solid black;
	margin: auto;
	text-align: center;
}
ul {
	text-align: left
}
p {
	width: auto;
}
#mobile {
	display: block;
	font-size: 1.5em;
}
nav:hover a {
	display: block;
}
}
