@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
background-color: #EDDBD9;
font-family: 'Quicksand', sans-serif;
text-align: center;
font-size: 16px;
}
h1, h2, h3 {
font-family: 'Architects Daughter', serif;
}
h1 {
	font-size: 2em;
}
p {
	font-weight: bold;
	margin: 1em auto;
	line-height: 1.5em;
	text-align: center;
}
hr {
	width: 15%;
	border: none;
	height:2px;
	background-color: black;
	margin: 1em auto;
}
ul {
	padding: 0px;
}
li {
	text-align: left;
	font-weight: bold;
}
a {
	color: black;
	transition: color .5s ease;
	transition: border .5s ease;
}
a:hover {
	font-family: 'Architects Daughter', serif;
	color: white;
}
footer {
font-family: 'Architects Daughter', serif;
clear: both;
padding: 1% 0% 0%;
font-weight: normal;
}
footer p {
font-weight: normal;
}
nav a {
padding: .5em;
margin: 1em;
font-weight: bold;
font-family: 'Quicksand', sans-serif;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
background-color: #EDDBD9;
}
nav {
	background-color: #EDDBD9;
	padding: 1em;
	margin: auto;
	height: 2em;
}
nav a:hover {
border-bottom: white 3px solid;
}
.column {
	width: 20%;
	margin: 1.5%;
	padding: 1%;
	float: left;
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
}
#portrait img {
	width: 100%;
	border: 3px solid black;
}
.wrapper_about {
	width: 100%;
	margin: auto;
}
.wrapper_index {
	width: 100%;
	margin: auto;
}
#hero_image {
    float: left;
    width: 46%;
    margin: .5% 2%;
    max-width: 491px;
}
#intro_text {
    float: left;
    width: 46%;
    font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	margin: .5% 2%;
}
#intro_text > p {
text-align: left;
margin: 5% 0%;
}
#intro_text > hr {
	margin: 10px 0px;
	width: 30%;
}
#email {
	width: 2em;
}
#work_experience {
	width: 40%;
	margin: auto;
	font-style: bold;
	line-height: 2em;
}
#work_experience > h5 {
	text-align: left;
	text-decoration: underline;
	font-size: 1em;
}
#work_experience > hr {
	width: 40%;
}
#work_experience > p {
	width: 30em;
}
#work_experience > img {
	width: 20%;
	}
#qualifications {
	width: 40%;
	margin: auto;
	line-height: 2em;
}
#qualifications > img {
	height: 2em;
	margin: 3%;
}

#ad_examples img {
	width: 22%;
	margin: 1%;
}
#event_examples img {
	width: 22%;
	margin: 1%;
}
#digital img {
	width: 50%;
	margin: 1%;
}
#digital p {
	width: 50%;
}
#contact > img {
	width: 25%;
	margin: 1%;
}
.clearfix.after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#mobile {
	display: none;
}
@media only screen and (max-width: 980px) {
nav a {
padding: 0.5em;
margin: 1em 0em;
width: 100%;
}
nav {
	padding: 0em;
	margin: 2em 0em;
	height: 2em;
}
@media only screen and (max-width: 800px) {

nav {
text-align: left;
display: inline;
}
nav a {
display: none;
padding: 0.6em;
transition: color .5s ease;
}
nav a:hover {
border: none;

}
#intro_text {
    float: none;
    margin: 0px;
    padding: 0em 2em;
    width: 90%;
    text-align: center;
}
 #hero_image {
    padding: none;
    float: none;
    margin: 0px;
    width: 90%;
}
 #hero_image img {
	width: 100%;
	margin: 0%;
}
#intro_text > hr {
	margin: 1em auto;
	width: 200px;
}
#wrapper {
	width: auto;
}
.column {
	float: none;
	width: 80%;
	margin: auto;
	text-align: center;
}
#portrait img {
	width: 40%;
	border: 3px solid black;
	margin: auto;
	text-align: center;
}
ul {
	text-align: left
}
p {
	width: auto;
}
#mobile {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: none;
	padding: none;
	text-align: left;
}
nav:hover a {
	display: block;
}
h1 {
	font-size: 1.5em;
}
h2, h3, h4 {
	font-size: 1.5em;
}
h4, h5 {
font-size: 1em;
}

#intro_text > p {
	text-align: center;
}
#intro_text > a {
	border-bottom: 1px solid black;
	margin: auto;
}
#work_experience{
	width: 90%;
}
#qualifications{
	width: 90%;
}
#ad_examples img {
	width: 40%;
    float: none;
	margin: 1.5%;
}
#event_examples img {
	width: 40%;
	float: none;
	margin: 1.5%;
}
#digital img {
	width: 40%;
	margin: 1%;
}
}
@media only screen and (max-width: 500px) {
#event_examples img {
	width: 90%;
	float: none;
	margin: 1.5%;
}
#digital img {
	width: 90%;
	margin: 1%;
	}
#digital p {
	width: 90%;
}

#ad_examples img {
	width: 90%;
    float: none;
	margin: 1.5%;
}