@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
body {
text-align: center;
background-color: #EDDBD9;
font-color: black;

h1, h2 {
text-transform: uppercase;
font-family: 'Quicksand', sans-serif;
}
p {
	color: black;
	font-weight: bold;
	font-size: 16px;
	font-family: monospace;
}
hr {
	width:200px;
}
a {
	color: black;
}
a:hover {
	color: white;
}