@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
body {
background-color: #EDDBD9;
font-color: black;
font-family: 'Quicksand', sans-serif;
margin: 20px;
text-align: center;
}
h1, h2 {
font-family: 'Architects Daughter', serif;
line-height: 120%
}
h3 {
font-family: 'Architects Daughter', serif;
}
p {
	color: black;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
}
hr {
	width:200px;
}
a {
	color: black;
	font-family: 'Quicksand', sans-serif;
}
a:hover {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}
img{
	padding: 2em;

}
footer {
font-family: 'Architects Daughter', serif;
text-align: center;	
}
nav {
display: inline;
padding: 1em;
width: 100%;
}
#wrapper {
	width:960px;
	margin: 0 auto;
}
#home {
	text-align: left
	font-family: 'Architects Daughter', serif;
}
