@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
body {
background-color: #f9c6b9;
font-color: black;
font-family: 'Quicksand', sans-serif;
text-align: center;
padding: 1em;
font-size: 16px;
width: 1200px;
}
h1 {
font-family: 'Playfair Display', serif;
line-height: 60%
padding: 2em;
margin: 1em auto;
}
h2 {
font-family: 'Playfair Display', serif;
line-height: 60%
}
h3 {
font-family: 'Playfair Display', serif;
}
p {
	font-weight: bold;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	width: 30em;
	margin: 1em auto;
	line-height: 1.5em;
	padding: 0.5em;
}
hr {
	width:200px;
	border: none;
	height:2px;
	background-color: black;
	margin: 1em auto;
}
a {
	color: black;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
}
a:hover {
	color: #f9c6b9;
	font-family: 'Playfair Display', serif;
	font-style: italic;
}
#logo {
	width: 10px
}
footer {
font-family: 'Playfair Display', serif;
text-align: center;	
}
nav a {
padding: 0 2em;
font-weight: bold;
font-size: 1em;
font-family: 'Quicksand', sans-serif;
margin: 2em auto; 
text-transform: uppercase;
font-weight: bold;
background-color: white;
}
#strengths {
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	margin-left: 150px;
}
#skills {
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	margin-left: 150px;
}
#awards {
	font-weight:bold;
	line-height: 1.5em;
	text-align: left;
	margin-right: 150px; 
}
main {
	float: left;
}
aside {
	float: right
}
#hero {
	width: 100px;