body {
text-align: center;
background-color: #EDDBD9;
font-color: black;
font-family: monospace;
}
h1, h2 {
font-family: fiona;
}
p {
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}
hr {
	width:200px;
}
a {
	color: black;
}
a:hover {
	color: white;
}